<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="Dapper.Contrib" version="1.43" targetFramework="net45" />
  <package id="Dapper.Contrib.Ext" version="1.0.3" targetFramework="net45" />
  <package id="Nelibur" version="3.1.6" targetFramework="net45" />
  <package id="Nelibur.Sword" version="3.1.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.6" targetFramework="net45" />
</packages>