<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Product Id="*" Name="Blog.Client" Language="1049" Version="1.0.0.0" Manufacturer="DRypa" UpgradeCode="c513cd46-95fb-4859-8271-5e7fed480307">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Blog.SetupProject" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <UIRef Id="WixUI_InstallDir"/>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="Blog.Client" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLLOCATION">
			 <Component Id="ProductComponent" Guid="c513cd46-95fb-4859-8271-5e7fed480300">
         <File Source="$(var.Blog.Client.TargetPath)" />
         <File Source="$(var.Blog.Client.TargetDir)Blog.BusinessEntities.dll" Name="Blog.BusinessEntities.dll"/>
         <File Source="$(var.Blog.Client.TargetDir)Blog.BusinessLogic.dll" Name="Blog.BusinessLogic.dll"/>
         <File Source="$(var.Blog.Client.TargetDir)BlogClient.exe.config" Name="BlogClient.exe.config"/>
         <File Source="$(var.Blog.Client.TargetDir)Nelibur.dll" Name="Nelibur.dll"/>
         <File Source="$(var.Blog.Client.TargetDir)Nelibur.Sword.dll" Name="Nelibur.Sword.dll"/>
			 </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>