<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:sql='http://schemas.microsoft.com/wix/SqlExtension'>
  <?define Manufacturer="DRypa"?>
  <Product Id="*" Name="Blog.Server" Language="1049" Version="1.0.0.0" Manufacturer="$(var.Manufacturer)" UpgradeCode="433118b3-f463-44e9-9e18-f38e6e360a62">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Blog.Server" Level="1">
      <ComponentGroupRef Id="ServerComponents" />
    </Feature>


    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <UIRef Id="WixUI_InstallDir"/>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.0 or later. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED]]>
    </Condition>
    
    <Property Id="SQL_EDITION">
      <RegistrySearch Id="CheckSQLEdition" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server" Name="InstalledInstances" Type="raw"  Win64="yes"/>
    </Property>
    <Condition Message="This application requires MS SQL Server installed. Please install MS SQL Server then run this installer again.">
      <![CDATA[Installed OR SQL_EDITION]]>
    </Condition>

    <Binary  Id="UpScriptBinary"  src="CreateDatabase.sql"></Binary>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.Manufacturer)">
          <Directory Id="SERVER_INSTALLFOLDER" Name="Blog_Server" />
          <Directory Id="WORKER_INSTALLFOLDER" Name="Blog_Worker" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ServerComponents">
      <Component Id="ServerComponent" Directory="SERVER_INSTALLFOLDER" Guid="0a471066-3bff-44ff-b288-50ccef0e8f71">
        <File Source="$(var.Blog.ConsoleService.TargetPath)" />
        <File Source="$(var.Blog.ConsoleService.TargetDir)Blog.BusinessEntities.dll" Name="Blog.BusinessEntities.dll" Id="be1"/>
        <File Source="$(var.Blog.ConsoleService.TargetDir)Blog.BusinessLogic.dll" Name="Blog.BusinessLogic.dll" Id="bl1"/>
        <File Source="$(var.Blog.ConsoleService.TargetDir)Dapper.dll" Name="Dapper.dll" Id="dapper1"/>
        <File Source="$(var.Blog.ConsoleService.TargetDir)Nelibur.dll" Name="Nelibur.dll" Id="nelibur1"/>
        <File Source="$(var.Blog.ConsoleService.TargetDir)Nelibur.Sword.dll" Name="Nelibur.Sword.dll" Id="sw1"/>
        <File Source="$(var.Blog.ConsoleService.TargetDir)Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Id="json1"/>
        <File Source="$(var.Blog.ConsoleService.TargetDir)Ninject.dll" Name="Ninject.dll" Id="ninject1"/>
        <File Source="$(var.Blog.ConsoleService.TargetDir)Blog.ConsoleService.exe.config" Name="Blog.ConsoleService.exe.config" Id="conf1"/>

        <util:User Id="SQLUser" Name="sa" Password="as" />
        <sql:SqlDatabase Id="SqlDatabase"
                       Database="BlogServiceTest"
                       Server="localhost"
                       Instance="SQLEXPRESS"
                       CreateOnInstall="yes"
                       DropOnUninstall="yes"
                       User="SQLUser">
        </sql:SqlDatabase>

      </Component>
      <Component Id="WorkerComponent" Directory="WORKER_INSTALLFOLDER" Guid="0a471066-3bff-44ff-b288-50ccef0e8f72">
        <File Source="$(var.Blog.Worker.TargetPath)" />
        <File Source="$(var.Blog.Worker.TargetDir)Blog.BusinessEntities.dll" Name="Blog.BusinessEntities.dll" BindPath="$(var.Blog.Worker.TargetDir)"/>
        <File Source="$(var.Blog.Worker.TargetDir)Blog.BusinessLogic.dll" Name="Blog.BusinessLogic.dll"/>
        <File Source="$(var.Blog.Worker.TargetDir)Dapper.dll" Name="Dapper.dll"/>
        <File Source="$(var.Blog.Worker.TargetDir)Nelibur.dll" Name="Nelibur.dll"/>
        <File Source="$(var.Blog.Worker.TargetDir)Nelibur.Sword.dll" Name="Nelibur.Sword.dll"/>
        <File Source="$(var.Blog.Worker.TargetDir)Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll"/>
        <File Source="$(var.Blog.Worker.TargetDir)Ninject.dll" Name="Ninject.dll"/>
        <File Source="$(var.Blog.Worker.TargetDir)RabbitMQ.Client.dll" Name="RabbitMQ.Client.dll"/>
        <File Source="$(var.Blog.Worker.TargetDir)NHibernate.dll" Name="NHibernate.dll"/>
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>