<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="Output.Content">
            <Component Id="cmp3E20BEDB18DF7C576CB3151A6FDEB685" Guid="{1F9273A7-27D6-4B33-9933-06DC44B8AF9A}">
                <File Id="filA8C14A9739835EF57A78326A27C490E6" Source="$(var.Blog.ConsoleService.TargetDir)Blog.ConsoleService.exe.config" Name="Blog.ConsoleService.exe.config" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="Output.Binaries">
            <Component Id="cmp96E15C238D0B8F3CAD1ED2005BAE5C47" Guid="{EAB005DE-0A97-4837-9112-8A5D1A8EC345}">
                <File Id="filADB2D94C2459CBCBCB564E8D1B07F5A3" Source="$(var.Blog.ConsoleService.TargetDir)Blog.BusinessEntities.dll" Name="Blog.BusinessEntities.dll" />
            </Component>
            <Component Id="cmpAE06C4B5A871D46EC661A897585E9FE2" Guid="{FE0D203F-4C5A-48BE-B890-1E6FC0A3B2CD}">
                <File Id="fil2729E54E551A19CFF899147C7BFD04A0" Source="$(var.Blog.ConsoleService.TargetDir)Blog.BusinessLogic.dll" Name="Blog.BusinessLogic.dll" />
            </Component>
            <Component Id="cmpE01489B3C7D9C05C43CF2A68AC261B12" Guid="{7F7B0E23-3A58-4FBD-9041-EF6AC5E86A55}">
                <File Id="fil5E31DDF1B1541C081618098C58308BD6" Source="$(var.Blog.ConsoleService.TargetDir)Blog.ConsoleService.exe" Name="Blog.ConsoleService.exe" />
            </Component>
            <Component Id="cmpE11E3F4AA56278EB4713E709546E7F92" Guid="{395193DF-308C-4A3A-9861-C5AB636CF37B}">
                <File Id="fil58103F71981B36FD4EF8F997E93DC89B" Source="$(var.Blog.ConsoleService.TargetDir)Dapper.dll" Name="Dapper.dll" />
            </Component>
            <Component Id="cmp931EC8C6BACCCBD4AC41229F95FA5422" Guid="{879554B2-0573-4603-B087-4483924A7802}">
                <File Id="filDE5F1653B90F6D29F7B7B43EBEDB2410" Source="$(var.Blog.ConsoleService.TargetDir)Nelibur.dll" Name="Nelibur.dll" />
            </Component>
            <Component Id="cmp351662265C794DDDEE1C59E149186F4E" Guid="{A743B57E-F640-4DEF-B334-577FEA2187ED}">
                <File Id="fil27E2CB10278C07C6425275BBA51A6B6E" Source="$(var.Blog.ConsoleService.TargetDir)Nelibur.Sword.dll" Name="Nelibur.Sword.dll" />
            </Component>
            <Component Id="cmp1EA75742196A10FF30F14DEE49B96795" Guid="{FE7E939D-447C-4AB3-9936-5A477B4AF8A1}">
                <File Id="filA73AF48DE5075796F2DCBECBA256DB1F" Source="$(var.Blog.ConsoleService.TargetDir)Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpA0B29840C33AEF51560F7DA794BC4A4A" Guid="{6B80CF17-2CED-4B5E-B26A-DFBE3FA7E679}">
                <File Id="filF86E966AC0E91992D48DF10C9E19A412" Source="$(var.Blog.ConsoleService.TargetDir)NHibernate.dll" Name="NHibernate.dll" />
            </Component>
            <Component Id="cmp5A53AFDEE2AC8109C6B0BA4F06239E05" Guid="{5D50E818-9C42-4E32-A129-13CD7A2F0605}">
                <File Id="fil31535B42902162ECF5D0689218FD93C3" Source="$(var.Blog.ConsoleService.TargetDir)Ninject.dll" Name="Ninject.dll" />
            </Component>
            <Component Id="cmp366FC39F4E6A766342B8D341B3CFBAA2" Guid="{4E1B4B7B-12D9-4450-A230-254923C6C3C3}">
                <File Id="fil8374F1DAA14780027812CA26680CA889" Source="$(var.Blog.ConsoleService.TargetDir)RabbitMQ.Client.dll" Name="RabbitMQ.Client.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Output.Content">
            <ComponentRef Id="cmp3E20BEDB18DF7C576CB3151A6FDEB685" />
        </ComponentGroup>
        <ComponentGroup Id="Output.Binaries">
            <ComponentRef Id="cmp96E15C238D0B8F3CAD1ED2005BAE5C47" />
            <ComponentRef Id="cmpAE06C4B5A871D46EC661A897585E9FE2" />
            <ComponentRef Id="cmpE01489B3C7D9C05C43CF2A68AC261B12" />
            <ComponentRef Id="cmpE11E3F4AA56278EB4713E709546E7F92" />
            <ComponentRef Id="cmp931EC8C6BACCCBD4AC41229F95FA5422" />
            <ComponentRef Id="cmp351662265C794DDDEE1C59E149186F4E" />
            <ComponentRef Id="cmp1EA75742196A10FF30F14DEE49B96795" />
            <ComponentRef Id="cmpA0B29840C33AEF51560F7DA794BC4A4A" />
            <ComponentRef Id="cmp5A53AFDEE2AC8109C6B0BA4F06239E05" />
            <ComponentRef Id="cmp366FC39F4E6A766342B8D341B3CFBAA2" />
        </ComponentGroup>
    </Fragment>
</Wix>