<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Manufacturer="DRypa"?>
  <Product Id="*" Name="Blog.Server" Language="1049" Version="1.0.0.0" Manufacturer="$(var.Manufacturer)" UpgradeCode="8673fb19-5699-4b06-a4a4-d8c101e5e32a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Blog Server installation" Level="1">
      <ComponentGroupRef Id="OutputGroup" />
      <!--			<ComponentGroupRef Id="ProductComponents" />-->
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <UIRef Id="WixUI_InstallDir"/>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.0 or later. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED]]>
    </Condition>

    <Property Id="SQL_EDITION">
      <RegistrySearch Id="CheckSQLEdition" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server" Name="InstalledInstances" Type="raw"  Win64="yes"/>
    </Property>
    <Condition Message="This application requires MS SQL Server installed. Please install MS SQL Server then run this installer again.">
      <![CDATA[Installed OR SQL_EDITION]]>
    </Condition>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.Manufacturer)" >
          <Directory Id="SERVER_INSTALLFOLDER" Name="Blog_Server" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

</Wix>