<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="WORKER_INSTALLFOLDER">
      <Directory Id="BinariesDir" ComponentGuidGenerationSeed="DBA8384E-CE1B-41af-B573-4203FB8A6A3B">
        <Directory Id="Worker.Output.Binaries" />
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="WORKER_INSTALLFOLDER">
      <Directory Id="ContentDir" ComponentGuidGenerationSeed="35A3DCB8-4F85-4e3f-AC83-C51B78C04B94">
        <Directory Id="Worker.Output.Content" />
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="WorkerOutputGroup">
      <ComponentGroupRef Id="Worker.Output.Binaries"/>
      <ComponentGroupRef Id="Worker.Output.Content"/>
    </ComponentGroup>
  
  </Fragment>
</Wix>